body {
    text-align: center;
    background-color: rgb(206, 232, 232);

}

.restart {
    background-color: rgb(206, 232, 232);
    border: none;
    border-radius: 300px;
    font-size: 30px;
}
.restart:hover{
    background-color: rgb(255, 255, 255);
}

.result {
    color: red;
    font-size: 50px;
    margin-top: -10px;
    margin-bottom: -10px;

}

button {
    padding: 5px;
    position: relative;
    margin-bottom: 20px;
}

table {
    /* left: 450px;
    top: 200px; */

    /*puts table in middle*/
    margin-left: auto;
    
    margin-right: auto;
    /**/

    border-collapse: collapse;
    background-color: gray;
}


table,
tr,
td {
    text-align: center;
    position: relative;
    table-layout: fixed;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    padding: 5px;

}